{% extends 'base.html' %} {% load bootstrap3 %} {% load i18n %}
{% block title %}{{ user.username }}'s messages | {% endblock title %}
{% block content %}
{% include 'nav.html' %}
    <h1>My messages</h1>
    <div>
  <div class="table-responsive">
<br>
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th>{% trans 'Text' %}</th>
        <th>{% trans 'Recepient' %}</th>
        <th>{% trans 'Writer' %}</th>
        <th>{% trans 'Date' %}</th>
        <th></th>
      </tr>
      {% for message in object_list %}
      <tr>
        <td>{{ message.body|truncatechars:30 }}</td>
        <td>{{ message.recipient }}</td>
        <td>{{ message.user }}</td>
        <td>{{ message.date|date:'Y-m-d H:i' }}</td>
        <td>
            {% if request.user.id == message.recipient.id %}
          <a href="{% url 'chat_detail' user_id=message.user.id %}" class="btn btn-info">Read</a>
            {% else %}
          <a href="{% url 'chat_detail' user_id=message.recipient.id %}" class="btn btn-info">Read</a>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
  </div>
</div>
{% endblock content %}
